@import '~styles/config';

.loader {
  @include fit;

  z-index: 20;

  background: $color-background;

  perspective: 1000px;
  perspective-origin: center;

  &__background {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;

    position: relative;
    padding-top: 30px;
    padding-left: 160px;
    padding-right: 100px;
    height: 100%;
    background: $color-background;

    transform: translate3d(0, 0, -200px) rotate3d(0, 1, 0, 0deg) scale3d(1.1, 1.1, 1);
    will-change: transform;

    @media (min-width: $min-tablet) and (min-height: $min-desktop-height) {
      padding-top: 0;
      padding-right: 50px;
    }

    @media (min-width: $min-tablet) and (min-height: $min-desktop-height) {
      margin-bottom: 0;

      width: 100%;
    }
  }

  &__text {
    padding: 20px 0;

    user-select: none;
    font-size: 120px;
    font-weight: 600;
    line-height: 0.8;
    letter-spacing: -0.01em;
    text-transform: lowercase;
    text-align: center;
    color: transparent;

    background-clip: text;

    @media (min-width: $min-tablet) and (min-height: $min-desktop-height) {
      @include responsive-font(120, 450);
    }
  }
}
