@font-face {
  font-family: Futura;
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/futura-book.woff2') format('woff2'), url('assets/fonts/futura-book.woff') format('woff');
}

@font-face {
  font-family: Futura;
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/futura-bold.woff2') format('woff2'), url('assets/fonts/futura-bold.woff') format('woff');
}
