@import '~styles/config';

.logo {
  //@include variable-font(500, normal, 0, normal);

  position: relative;

  padding-bottom: 8px;

  font-size: 30px;
  font-weight: 600;
  line-height: (18 / 30) * 1em;
  letter-spacing: -0.05em;

  @media (min-width: $min-tablet) {
    font-size: 40px;
    line-height: (24 / 40) * 1em;
  }


  &::after {
    content: '';
    position: absolute;

    bottom: 0;
    left: 0.05em;
    right: 0;

    height: 3px;

    background: $color-primary;
  }

  > em { // stylelint-disable-line
    // @include variable-font(900, bold, 0, normal);
    display: block;

    letter-spacing: 0;

    font-weight: 600;
    color: $color-primary;
  }
}
