@import '~styles/config';

.step {
  padding: 60px 0;

  @media (min-width: $min-768) {
    padding: 120px 0;
  }

  &__share {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 50%;
    left: 50px;
    z-index: 10;

    transform: translateY(-50%);

    &Link {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-bottom: 25px;

      width: 44px;
      height: 44px;

      border: 1.5px solid #fff;
      border-radius: 44px;

      opacity: 1;

      transition: opacity 0.2s ease-in-out;

      &:hover {
        opacity: 0.6;
      }

      path { // stylelint-disable-line
        fill: #fff;
      }
    }

    &Copy {
      @include rf(12, 14);
      // @include variable-font(600, bold, 0, normal);

      margin-top: 15px;
      margin-left: -2px;

      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;

      transform: rotate(-90deg);
    }
  }

  &__content {
    position: fixed;
    top: 50%;
    left: 150px;
    z-index: 10;

    transform: translateY(-50%);
  }

  &__slide {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 20;

    width: 90vw;

    opacity: 0;
    background-color: #000;

    transform: translateX(100%);
  }

  &__li {
    display: flex;
    align-items: center;

    padding: 200px 200px 200px 0;

    &:first-of-type {
      padding-left: 200px;
    }
  }

  &__link {
    text-decoration: none;
  }
}
