@import '~styles/config';

.bubbles {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 40%;
  right: 200px;
  z-index: 10;

  width: 300px;
  min-height: 400px;

  pointer-events: none;

  @media (min-width: $min-tablet) and (min-height: $min-desktop-height) {
    top: 50%;
    right: 150px;

    width: 400px;
    min-height: 400px;
  }

  &.video4 {
    top: 45%;

    @media (min-width: $min-tablet) and (min-height: $min-desktop-height) {
      top: 50%;
    }
  }

  // &.video5 {
  //   top: 40%;
  //   left: 45%;

  //   @media (min-width: $min-tablet) and (min-height: $min-desktop-height) {
  //     top: 50%;
  //     left: 60%;
  //   }
  // }

  // &.video10 {
  //   top: 35%;
  //   left: 45%;

  //   min-width: 250px;

  //   @media (min-width: $min-tablet) and (min-height: $min-desktop-height) {
  //     top: 50%;
  //     left: 55%;

  //     min-width: 450px;
  //   }
  // }

  &__bubble {
    align-self: flex-end;

    &.incoming {
      align-self: flex-start;
    }

    &.call {
      width: 100%;
    }

    &.browser {
      margin-bottom: 20px;
      width: 100%;
    }
  }
}
