@import '~styles/config';

.bubbles {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 20%;
  left: 40%;
  z-index: 10;

  min-width: 250px;
  min-height: 400px;

  @media (min-width: $min-tablet) and (min-height: $min-desktop-height) {
    top: 50%;
    left: 50%;
    min-width: 400px;
    min-height: 400px;
  }

  &__bubble {
    align-self: flex-end;

    &.incoming {
      align-self: flex-start;
    }

    &.call {
      width: 100%;
    }
  }
}
