@import '~styles/config';

:global {
  @import '~styles/base';
}

.layout {
  display: block;
  
  height: 100%;

  overflow: visible;

  transform-origin: center center;

  will-change: transform;

  &:global(.facebook-app) {
    height: 100vw;

    transform: rotate(90deg);
  }
}
