@import "~styles/config";

.content {
  position: relative;
  z-index: 4;

  width: (550px / $font-size) * 1em;

  user-select: none;

  &__count {
    @include responsive-font(14, 18);

    display: flex;
    align-items: center;
    margin-bottom: 10px;

    height: 2em;

    font-weight: 600;

    &::after {
      content: '';

      display: block;

      margin-left: (20/18) * 1em;

      width: 100px;
      height: 3px;

      background: $color-primary;
    }

    @media (min-width: $min-tablet) and (min-height: $min-desktop-height) {
      margin-bottom: (40/18) * 1em;
    }
  }

  &__link {
    user-select: none;
    font-weight: 600;
    font-size: 32px;
    line-height: (40 / 32) * 1em;

    > em { // stylelint-disable-line
      font-weight: 600;

      font-style: normal;
      color: $color-primary;
    }

    @media (min-width: $min-tablet) and (min-height: $min-desktop-height) {
      @include responsive-font(20, 80);
    }
  }
}
