@import '~styles/config';

.stepsItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: relative;

  margin-bottom: 0;

  height: 100%;
  width: 100%;

  &__wrapper {
    text-decoration: none;
  }

  &__media {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 3;

    width: percentage(1000/1500);

    user-select: none;

    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-property: right, bottom, left, width, height, opacity;
    transform: translate3d(0%, -50%, 110px);

    &::before {
      content: '';

      display: block;

      padding-bottom: percentage(9/16);

      user-select: none;
    }

    > * {
      @include fit;

      width: 100%;
      height: 100%;

      user-select: none;
      -webkit-user-drag: none;
      -moz-user-drag: none;
      -ms-user-drag: none;

      object-fit: cover;
    }

    .active & {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      width: auto;
      pointer-events: none;
      transform: translate3d(0%, 0%, 110px);
    }
  }

  &__play {
    display: none;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 4;
    bottom: 10%;
    right: 10%;

    width: 125px;
    height: 125px;

    border: 0;

    pointer-events: none;
    opacity: 0;
    color: #fff;
    background: transparent;
    transition: opacity 0.3s ease-out;
    transform: translate3d(0%, -50%, 121px);

    &Icon {
      position: absolute;
      z-index: 4;
      transform: translate3d(4px, 4px, 122px);
    }

    &Circle {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 4;
      transform: translate3d(0, 0, 125px);
    }

    .active & {
      display: flex;
    }

    &.visible {
      pointer-events: all;
      opacity: 1;
    }
  }
}
