@import '~styles/config';

.stepsItem {
  // @include container;
  display: flex;
  flex-direction: column;

  position: relative;

  margin-bottom: 80px;

  @media (min-width: $min-tablet) {
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 0;

    height: 100%;
    width: 100%;
  }

  &__wrapper {
    text-decoration: none;
  }

  &__media {
    margin-top: -25px;

    @media (min-width: $min-768) {
      position: absolute;
      top: 50%;
      right: 0;

      margin-top: 0;

      width: percentage(1000/1500);
      max-width: 1000px;

      transform: translateY(-50%);

      &::before {
        content: '';

        display: block;

        padding-bottom: percentage(9/16);
      }

      > * {
        @include fit;

        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
