@import "~styles/config";

.steps {
  &__canvas {
    @include fit;
    position: fixed;
    z-index: 1;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    height: 100vh;

    z-index: 2;
  }

  &__step {
    flex: 1 0 100%;
    width: 100vw;
    height: 100%;
  }

  &__title {
    display: flex;
    flex-direction: column;

    position: relative;

    margin-bottom: 80px;

    @media (min-width: $min-tablet) {
      flex-direction: row;
      align-items: center;
      justify-content: center;

      margin-bottom: 0;

      height: 100%;
      width: 100%;
    }

    &Content {
      @include responsive-font(300, 450);
      font-weight: 600;
      line-height: 0.8;
      letter-spacing: -0.01em;
      text-transform: lowercase;
      text-align: center;
    }
  }
}
