@import '~styles/config';

.steps {
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    position: relative;

    margin-bottom: 80px;
    padding-left: 160px;

    height: 100%;

    @media (min-width: $min-tablet) and (min-height: $min-desktop-height) {
      margin-bottom: 0;

      width: 100%;
    }

    &Content {
      user-select: none;

      font-size: 120px;
      font-weight: 600;
      line-height: 0.8;
      letter-spacing: -0.01em;
      text-transform: lowercase;
      text-align: left;

      @media (min-width: $min-tablet) and (min-height: $min-desktop-height) {
        @include responsive-font(120, 450);
      }
    }

    &ContentSmaller {
      font-size: 88px;

      @media (min-width: $min-tablet) and (min-height: $min-desktop-height) {
        @include responsive-font(88, 400);
      }
    }
  }
}
