@import '~styles/config';

.stepsItem {
  display: flex;
  flex-direction: column;

  position: relative;

  margin-bottom: 80px;

  @media (min-width: $min-tablet) {
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 0;

    height: 100%;
    width: 100%;
  }

  &__content {
    position: relative;
    z-index: 1;

    max-width: (550px/$font-size) * 1em;
  }

  &__link {
    @include responsive-font(54, 80);
    @include variable-font(700, bold, 0, normal);

    text-decoration: none;

    > em { // stylelint-disable-line
      @include variable-font(900, 900, 0, normal);

      font-style: normal;
      color: $color-primary;
    }
  }

  &__count {
    @include responsive-font(14, 18);
    @include variable-font(700, bold, 0, normal);

    display: flex;
    align-items: center;
    margin-bottom: (20/18) * 1em;

    height: 2em;

    &::after {
      content: '';

      display: block;

      margin-left: (20/18) * 1em;

      width: 100px;
      height: 3px;

      background: $color-primary;
    }

    @media (min-width: $min-768) {
      margin-bottom: (40/18) * 1em;
    }
  }

  &__media {
    margin-top: -25px;

    @media (min-width: $min-768) {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;

      margin-top: 0;

      width: percentage(1000/1500);
      max-width: 1000px;

      &::before {
        content: '';

        display: block;

        padding-bottom: percentage(9/16);
      }

      > * {
        @include fit;

        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
