@import '~styles/config';

.mouseFollow {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  left: -40px;
  top: -40px;
  z-index: 9999;

  width: 80px;
  height: 80px;

  pointer-events: none;

  opacity: 1;

  transform: translate(-100%, -100%);

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    width: 12px;
    height: 12px;

    border-radius: 12px;

    pointer-events: none;

    background-color: $color-primary;
    transform-origin: center;
  }

  &__stroke {
    position: absolute;
    top: 8px;
    left: 8px;

    width: 64px;
    height: 64px;

    border-radius: 64px;
    border: 2px solid #fff;
  }
}

// .mouseFollow {
//   position: fixed;
//   top: -80px;
//   left: -80px;
//   z-index: 1000;

//   width: 150px;
//   height: 150px;

//   pointer-events: none;

//   &__stroke {
//     position: absolute;
//     top: 30px;
//     left: 30px;

//     width: 90px;
//     height: 90px;

//     border-radius: 90px;
//     border: 1.5px solid #fff;
//   }

//   &__inner {
//     position: absolute;
//     top: 66px;
//     left: 66px;

//     width: 16px;
//     height: 16px;

//     border-radius: 16px;
//     background-color: $color-primary;
//   }

//   &__play {
//     position: absolute;
//     top: 60px;
//     left: 65px;
//   }
// }


// :global {
//   html * {  // stylelint-disable-line
//     cursor: none;
//   }
// }
