@import '~styles/config';

.header {
  @include responsive-font(20, 24);
  display: block;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex-header;

  &__container {
    @include container;
  }

  &__content {
    display: flex;

    align-items: center;

    padding: 40px 0;

    width: 100%;
  }

  &__link {
    text-decoration: none;
  }

  &__navigation {
    display: flex;
    margin-left: auto;
  }
}
