@import "~styles/config";

.header {
  @include responsive-font(20, 24);

  display: block;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex-header;

  &__container {
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: $min-tablet) and (min-height: $min-desktop-height) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__content {
    display: flex;

    align-items: center;

    padding: 15px 0;

    width: 100%;

    @media (min-width: $min-tablet) and (min-height: $min-desktop-height) {
      padding: 40px 0;
    }
  }

  &__inline {
    display: flex;
    flex-direction: row;
  }

  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-decoration: none;
  }

  &__item {
    margin-left: 1rem;

    @media (min-width: $min-tablet) and (min-height: $min-desktop-height) {
      margin-right: 2rem;
      margin-left: 0;
    }

    a {
      @include responsive-font(14, 20);

      // stylelint-disable-line
      text-decoration: none;
      text-transform: lowercase;
      font-weight: 600;

      &::after {
        // stylelint-disable-line
        content: "";
        display: block;
        margin-top: 5px;
        width: 100%;
        height: 3px;
        background-color: $color-primary;

        transform: scaleX(0);

        transition: transform 200ms ease-in;
      }

      &:hover::after {
        // stylelint-disable-line
        transform: scaleX(1);
      }
    }

    &:last-child {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    margin-left: auto;
    padding-top: 8px;

    @media (min-width: $min-tablet) and (min-height: $min-desktop-height) {
      flex-direction: row;
    }
  }
}
