@import '~styles/config';

.header {
  @include responsive-font(20, 24);
  display: block;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex-header;

  background-color: $color-background;

  @media (min-width: $min-tablet) {
    background-color: initial;
  }

  &__container {
    @include container;
  }

  &__content {
    display: flex;

    align-items: center;

    padding: 20px 0;

    width: 100%;

    @media (min-width: $min-tablet) {
      padding: 40px 0;
    }
  }

  &__link {
    margin-right: 20px;
    text-decoration: none;

    @media (min-width: $min-tablet) {
      margin-right: 0;
    }
  }

  &__item {
    margin-left: 1rem;

    @media (min-width: $min-tablet) {
      margin-right: 2rem;
      margin-left: 0;
    }

    a { // stylelint-disable-line
      text-decoration: none;
      text-transform: lowercase;
      font-weight: 550;

      &::after { // stylelint-disable-line
        content: '';
        display: block;
        margin-top: 5px;
        width: 100%;
        height: 3px;
        background-color: $color-primary;

        transform: scaleX(0);

        transition: transform 200ms ease-in;
      }

      &:hover::after {  // stylelint-disable-line
        transform: scaleX(1);
      }
    }

    &:last-child {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    margin-left: auto;
    padding-top: 8px;

    @media (min-width: $min-tablet) {
      flex-direction: row;
    }
  }
}
