@import '~styles/config';

.video {
  position: relative;
  width: 100%;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    padding-top: 56.25%; // 16:9
  }

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &.light {
      transform: translateX(-100%);
    }
  }
}
