@import '~styles/config';

@keyframes boldy {
  0% { font-variation-settings: 'wght' 100; }
  50% { font-variation-settings: 'wght' 900; }
  100% { font-variation-settings: 'wght' 100; }
}

.highlight {
  position: relative;

  &__text {
    @include variable-font(666, bold, 1.1, normal);

    position: relative;
    z-index: 10;

    text-rendering: geometricPrecision;
    animation: boldy infinite 5s ease;

    .isFirst & {
      padding-right: 10px;
    }
  }

  &__color {
    position: absolute;
    bottom: 8px;
    left: 0;
    z-index: 0;

    width: 100%;
    height: 16px;

    background-color: rgba(#8effbf, 0.3);
  }
}
