@import '~styles/config';

.circle {
  position: relative;
  top: 5px;

  width: 125px;
  height: 125px;

  animation: spin 12s infinite linear;

  text { // stylelint-disable-line
    font-size: 46px;
    font-family: sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 10px;

    fill: #fff;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
