@import '~styles/config';

.circle {
  position: relative;
  top: 5px;

  width: 110px;
  height: 110px;

  animation: spin 12s infinite linear;

  @media (min-width: $min-tablet) and (min-height: $min-desktop-height) {
    width: 125px;
    height: 125px;
  }

  text { // stylelint-disable-line
    user-select: none;

    font-size: 52px;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 10px;

    fill: #fff;

    @media (min-width: $min-tablet) and (min-height: $min-desktop-height) {
      font-size: 46px;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
