@import '~styles/config';

.scrollContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100%;

  &__inner {
    margin-top: 80px;

    max-height: calc(100vh - 80px);

    overflow-y: auto;

    @media (min-width: $min-tablet) and (min-height: $min-desktop-height) {
      margin-top: 0;
    }
  }
}
