@import '~styles/config';

.slider {
  height: 100vh;

  overflow: hidden;

  transform-style: preserve-3d;
  backface-visibility: hidden;
  perspective: 1000px;
  perspective-origin: center;
  contain: layout;

  :global(.facebook-app) & {
    width: 100vh;
    height: 100vw;
  }

  &__container {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__item {
    position: absolute;
    z-index: 2;

    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;

    height: 100%;

    will-change: transform, opacity;

    @media (min-width: $min-tablet) and (min-height: $min-desktop-height) {
      padding-top: 0;
      padding-left: 80px;
      padding-right: 80px;
    }

    @media (min-width: 1600px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    &:first-of-type {
      padding-left: 0;
      padding-right: 0;
    }

    &Active {
      z-index: 3;

      padding-top: 0;
      padding-right: 0;
      padding-left: 0;
    }
  }
}
